<div class='auth'>
  <div class='row'>
    <div class='col s12'>
      <ul class='tabs'>
        <li class='tab col s6'><a class='active' href='#login'>Log In</a></li>
        <li class='tab col s6'><a href='#register'>Sign Up</a></li>
      </ul>
    </div>
    <div id='login' class='col s6 offset-s3'>
      <h1>Log in to account</h1>

      <form action="/add_course" method="POST">
        <div class="input-field">
          <input placeholder="Email address" id="email" name="email" type="email" class="validate" required>
          <label for="email">Email</label>
          <span class="helper-text" data-error="Please, enter your email address" data-success="right"></span>
        </div>

        <div class="input-field">
          <input placeholder="Password" id="password" name="password" type="password" class="validate" required>
          <label for="password">Password</label>
          <span class="helper-text" data-error="Please, enter your password" data-success="right"></span>
        </div>

        <button class="btn btn-primary">Log in</button>
      </form>
    </div>


    <div id='register' class='col s6 offset-s3'>
      <h1>Create account</h1>

      <form action="/add_course" method="POST">
        <div class="input-field">
          <input placeholder="Email address" id="reg_email" name="email" type="email" class="validate" required>
          <label for="email">Email</label>
          <span class="helper-text" data-error="Please, enter your email address" data-success="right"></span>
        </div>

        <div class="input-field">
          <input placeholder="Password" id="reg_password" name="password" type="password" class="validate" required>
          <label for="password">Password</label>
          <span class="helper-text" data-error="Please, enter your password" data-success="right"></span>
        </div>

        <button class="btn btn-primary">Sign up</button>
      </form>
    </div>
  </div>
</div>